<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name ="TMWcfService.Service" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address ="mex"/>
        <endpoint contract="TMWcfService.IService" binding ="basicHttpBinding" address=""/>

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Service"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="64000000" maxReceivedMessageSize="64000000" receiveTimeout="00:10:00"
                sendTimeout="00:10:00" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>